<div class="user-information lg:mb-8">
  <div class="box-checkbox mb-4">
    <input id="user-information" type="checkbox">
    <label for="user-information" class="ml-2 uppercase font-bold">Insert More
      Information</label>
  </div>

  <div class="user-data">
    <div class="wrap py-2 lg:w-fit border-b flex justify-end flex-row-reverse gap-3">
      <input
        required
        class="placeholder:text-gray-400 px-2 w-full lg:w-60"
        id="first_name"
        type="text"
        name="first_name"
        placeholder="First Name">
      <label class="w-28 text-nowrap" for="first_name">First Name</label>
    </div>

    <div class="wrap py-2 lg:w-fit border-b flex justify-end flex-row-reverse gap-3">
      <input
        required
        class="placeholder:text-gray-400 px-2 w-full lg:w-60"
        id="last_name"
        type="text"
        name="last_name"
        placeholder="Last Name">
      <label class="w-28 text-nowrap" for="last_name">Last Name</label>
    </div>

    <div class="wrap py-2 lg:w-fit border-b flex justify-end flex-row-reverse gap-3">
      <input
        required
        class="placeholder:text-gray-400 px-2 w-full lg:w-60"
        id="email"
        type="email"
        name="email"
        placeholder="Your Email">
      <label class="w-28 text-nowrap" for="email">Email</label>
    </div>

    <div class="wrap py-2 lg:w-fit border-b flex justify-end flex-row-reverse gap-3">
      <input
        required
        class="placeholder:text-gray-400 px-2 w-full lg:w-60"
        id="birthday"
        type="datetime-local"
        name="birthday"
        placeholder="Birthday">
      <label class="w-28 text-nowrap" for="birthday">Birthday</label>
    </div>

    <div class="wrap py-2 lg:w-fit border-b flex justify-end flex-row-reverse gap-3">
      <input
        required
        class="placeholder:text-gray-400 px-2 w-full lg:w-60"
        id="phone"
        type="tel"
        name="phone"
        placeholder="Phone">
      <label class="w-28 text-nowrap" for="phone">Phone</label>
    </div>

    <div class="wrap py-2 lg:w-fit border-b flex justify-end flex-row-reverse gap-3">
      <input
        required
        class="placeholder:text-gray-400 px-2 w-full lg:w-60"
        id="postcode"
        type="text"
        name="postcode"
        placeholder="Postcode">
      <label class="w-28 text-nowrap" for="postcode">Postcode</label>
    </div>

  </div>
</div>