.component-may-run {
  .user-data:not(.show) {
    height: 0;
    overflow: hidden;
  }

  input.error {
    border: 1px solid red;
    outline-color: red;
  }

  .options {
    .option-wrapper {
      display: flex;
      flex-direction: column;
      margin-bottom: 20px;

      select {
        padding: 5px;
      }

      label {
        font-weight: 600;
        margin-bottom: 10px;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}