@use "tailwindcss";

.example {
  display: flex;
  user-select: none;
  transition: all 0.3s ease;

  @media(max-width: 425px) {
    color: green;
  }
}

.header {
  display: block;

  @media(max-width: 768px) {
    background-color: green;
  }
}